<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">Dashboard</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>

<orders-recent></orders-recent>
