<div class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="col-8 pl-0">
        <breadcrumb></breadcrumb>
      </div>
      <div class="col-4 text-right">
        <account-base-info></account-base-info>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
