<nav>
  <ol class="breadcrumb">
    <li
      class="breadcrumb-item"
      routerLinkActive="active">

      <a [routerLink]="['dashboard']">Dashboard</a>
    </li>

    <li
      class="breadcrumb-item"
      routerLinkActive="active">

      <a [routerLink]="['account']">Account</a>
    </li>

    <li
      class="breadcrumb-item"
      routerLinkActive="active">

      <a [routerLink]="['login']">
        <ng-container *ngIf="isAuthorized; else elseBlock">
          Logout
        </ng-container>
        <ng-template #elseBlock>
          Login
        </ng-template>
      </a>
    </li>
  </ol>
</nav>
