<div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>

    <form (submit)="login()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="credentials.email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="credentials.password">
        </div>

        <button
          class="btn btn-primary"
          type="submit">
          Login
        </button>
    </form>
  </div>
</div>
